.container {
    display: flex;
}

.first-left-div,
.first-right-div {
    width: 50%;
    box-sizing: border-box;
    padding: 20px; /* Add padding as needed */
    margin-top: 50px;
    border-radius: 10px;
}


.footer {
    background-color: #39373a; /* You can change the background color */
    color: white; /* You can change the text color */
    padding: 5px; /* Adjust the padding as needed */
    text-align: center;
    position: relative; /* Change from fixed to relative */
    width: 100%;
}

.social-share {
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Additional styling for the blink effect if needed */
.cd-headline .blink {
    color: #300383; /* Change this to the desired color for the blinking text */
    animation: blink-animation 1s steps(1, end) infinite;
}

.another-image {
    display: flex;
    justify-content: center;
}


.sub-title {
    display: block;
    font-size: 14px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.social-share-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-share-list li {
    display: inline-block; /* Align items horizontally */
    margin-right: 10px; /* Adjust the margin as needed */
}

.social-share-list a {
    text-decoration: none;
    color: white; /* You can change the text color */
}


.apply-loan {
    position: fixed;
    width: 240px; /* Adjust the button's width as needed */
    height: 45px;
    background-color: rgb(143, 7, 125);
    display: block;
    font-family: Arial;
    top: 10px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
    right: 30px;
    cursor: pointer; /* Change cursor to pointer on hover */
    text-decoration: none;
    text-align: center;
}
.apply-loan a {
    text-decoration: none;
    color: white;
}

.apply-loan a:hover {
    font-weight: bold;
    font-size: larger;
}


.apply-loan:hover {
    background-color: #3772ad; /* Change background color on hover */
    width: 300px;
}


body {
    background-color: rgb(247, 243, 243);
    padding-top: 60px;
}

.title {
    background-color:rgb(231, 213, 231);
    border-radius: 10px;
}

.blink a {
    color: orangeredS;
}

.subtitle {
    color: crimson;
    font-weight: bold;
}


.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5e9e9; /* You can set the background color as needed */
    z-index: 1000; /* Adjust the z-index as needed to ensure it stays on top of other elements */
}

.navigation-bar-div {
    display: flex;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    /*background-color: aquamarine;*/
    left: 40%;
    /* right: 0%; */
    z-index: 1000; /* Set a high z-index to ensure it appears above other content */
}

.mainmenu-nav {
    list-style: none; /* Remove bullet points for main menu */
    margin: 0;
    padding: 0;
}

.primary-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10px; /* Adjust the height as needed */
}

.main-menu-item {
    list-style: none; /* Remove bullet points for main menu items */
    position: relative;
    margin-right: 30px;
    font-weight: 900;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(247, 243, 243); /* You can change the background color */
    padding: 5px;
    font-weight: 400;
}

.main-menu-item:hover .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
}

.primary-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* You can change the text color */
}

.menu-item {
    padding: 5px;
}

.left-first-div {
    display: block;
}


.first-right-div {
    display: block;
}


.description {
    font-size: 20px;
    color: #1d1c1c;
}