<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Other meta tags... -->

    <!-- Title -->
    <title>Accelerate Credit</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Other stylesheet links... -->
</head>

<body>
    <!-- Your content goes here -->
    <h1>Welcome to Accelerate Credit</h1>

    <!-- You can include Flask variables like this -->
    <!-- {{ variable_name }} -->

    <!-- Example navigation link -->
    <a href="{{ url_for('google form') }}">Apply For Loan </a>

        
    <div>
        <span class="subtitle">LOW INTEREST  LOANS  IN KENYA</span>
        <h1 class="title">PATA PESA BILA
            <span>HASSLE</span><br>
            <span class="header-caption">
                <span class="cd-headline clip is-full-width">
                <span>FOR </span>
                    <span class="cd-words-wrapper" style="width: 169.342px; overflow: hidden;">
                        <b class="is-hidden">SALARY ADVANCE</b>
                        <b class="is-visible">LOGBOOK LOANS</b>
                        <b class="is-hidden">INVOICE DISCOUNTING</b>
                        <b class="is-hidden">ASSET FINANCING</b>
                        <b class="is-hidden">IMPORT FINANCING</b>
                    </span>
                </span>
            </span>
        </h1>
    </div>
    <div>
        <p class="description">
            <span>At the Core of Our Existence, 
                we are dedicated to enhancing your financial progress 
                through a diverse array of uniquely tailored products designed 
                to meet your precise needs. 
                We are guided by our three-dimensional mantra of Wallet, 
                Mind and Spirit speaks to our  mission, which is to ELEVATE our 
                clients in all aspects of life.
            </span>
        </p>
    </div>

    <section class="elementor-section ">
        <div class="elementor-container">
            <div class="elementor-column">
                <div class="elementor-widget">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-element">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>Quick &amp; Efficient</span>
                                    </h3>
                                    <p class="elementor-icon-box-description">We process all applications and give approval within 6 Hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-element">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="fas fa-handshake"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>Trust Worthy</span>
                                    </h3>
                                    <p class="elementor-icon-box-description">We have no hidden fees or registration fee for all our products.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="fas fa-check-circle"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>Hassle Free</span>
                                    </h3>
                                    <p class="elementor-icon-box-description">Don't Sweat it! Apply for loans and financing conveniently.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</body>

</html>
